* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: slateblue;
    font-weight: 300;
    margin: 30px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

div.item  {
    height: 220px;
    margin: 0 5px;
    position: relative;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 320px;
}

@media screen and (max-width: 786px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    div.item {
        margin: 10px 0;
    }
}

div.item img {
    height: 100%;
    width: 100%;
    vertical-align: top;
}

div.item i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
}

div.item.blue {
    background-color: #34495e;
}

div.item.blue i {
    color: #34495e;
}

div.item.red {
    background-color: #e74c3c;
}

div.item.red i {
    color: #e74c3c;
}

div.item.green {
    background-color: #16a085;
}

div.item.green i {
    color: #16a085;
}
  
div.item:hover img {
    opacity: 0.3;
    filter: grayscale(80%);
}

div.item * {
    transition: all .5s ease-in-out;
}

div.item i {
    transform: translate(-50%, -50%) scale(0);
}

div.item:hover i {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 100ms;
}
